{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'register/style.css' %}">
<title>株主優待入力</title>
</head>

<body>

<div class="container">

<h2>株主優待 合計</h2>

<form method="post">
{% csrf_token %}

<input type="number" name="shareholder" value="{{ shareholder }}" class="input">

<button type="submit" class="btn">次へ</button>

</form>

<a href="/gift/" class="btn gray">戻る</a>

</div>

</body>
</html>
